<%= render "/menu" %>

<main class="page_ways-to-help">
  <div class="page_wrapper">
    <span class="page_background" role="presentation"></span>
    <article class="content">
      <h1>Outras formas de ajudar</h1>
      <p><i>Além de ajudar financeiramente, com doação de alimentos, EPI’s e se tornando voluntário, existem outras formas para colaborar durante a pandemia.</i></p>
      <p><i>Muitas dessas ações podem ser simples para quem as toma, mas fazem muita diferença na vida das pessoas afetadas… inclusive, pode ser a sua própria vida!</i></p>
    </article>
  </div>
</main>

<%= render "/footer" %>
