///////////////////////////////////////////////////////////
// Home                                     (Page block) //
///////////////////////////////////////////////////////////

main {
  box-shadow: $shadow;
  background-color: $background-light;
  padding: 2rem 0;
  border-radius: $spacing-huge $spacing-huge 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  small { width: 8.6rem; }
  ul { display: flex; }
  li:not(:last-child) { margin-right: $spacing-big; }
}

.section {
  h1 { margin-bottom: $spacing-medium; }
}

.section_hero {
  display: flex;
  align-items: center;
  padding: 8rem 0 9rem;
  article { width: 60%; }
  img {
    position: absolute;
    right: 0;
  }
}

.section_list-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6rem 0 $spacing-huge;
  p { padding-bottom: .4rem; }
  h2 {
    width: 22.5rem;
    flex-shrink: 0;
    padding-right: $spacing-bigger;
  }
}

.section_list {
  h3 { padding: 0 0 1rem 2rem; }
}