///////////////////////////////////////////////////////////
// Colors                                   (Base mixin) //
///////////////////////////////////////////////////////////

// Palette ////////////////////////////////////////////////

$gray:                  #333;
$gray-light:            #ebebeb;
$white:                 #fff;

$blue-darker:           #213e58;
$blue-dark:             #5e90dc;
$blue-light:            #dbeeff;
$red-dark:              #e17773;
$red-light:             #f5dddf;
$yellow-darker:         #c99a31;
$yellow-dark:           #dfaf43;
$yellow-light:          #feefc9;
$green-dark:            #91bb68;
$green-light:            #e5eedc;

// Semantic colors ////////////////////////////////////////

$standard:              #fff;
$primary:               #fff;
$success:               #fff;
$error:                 #fff;
$warning:               #fff;

$background-dark:       $gray-light;
$background-light:      $white;

// Text
$text-base:             $gray;
$text-select:           #fff;

// Border
$border-dark:           $gray;
$border-light:          $gray-light;

// Shadow
$shadow:                0 -18px 29px transparentize($blue-darker, .93);
