///////////////////////////////////////////////////////////
// Grid settings & spacing patterns         (Base mixin) //
///////////////////////////////////////////////////////////

// Grid scaffold //////////////////////////////////////////

// Spacings
$spacing-huge:         3.1rem;  // 62px
$spacing-biggest:      2.5rem;  // 50px
$spacing-bigger:       2rem;    // 40px
$spacing-big:          1.6rem;  // 32px
$spacing-medium:       1.2rem;  // 24px
$spacing-regular:       .75rem; // 15px
$spacing-small:         .65rem; // 13px
$spacing-smaller:       .02rem; //  4px

// Breakpoints
$breakpoints: (
  "phone":     320px,
  "phablet":   570px,
  "tablet":    768px,
  "notebook":  1023px,
  "desktop":   1279px,
  "large":     1439px,
  "huge":      1599px,
);

// Grid
.content {
  max-width: 920px;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  @include media(">desktop") { max-width: 970px; }
  &.-larger {
    max-width: 950px;
    @include media(">desktop") { max-width: 1040px; }
  }
  @include media(">tablet") {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
