///////////////////////////////////////////////////////////
// Typography                               (Base mixin) //
///////////////////////////////////////////////////////////

// Font scaffold //////////////////////////////////////////

// Base size (1rem)
$size-base:         20px;

// Sizes
$size-huge:         3.1rem;  // 62px
$size-big:          1.6rem;  // 32px
$size-medium:        .8rem;  // 16px
$size-regular:       .75rem; // 15px
$size-small:         .65rem; // 13px

// Fontfaces
$sans:         'Roboto', sans-serif;
$serif:        'Merriweather', serif;

// Weights
$normal:       400;
$regular:      $normal;
$super:        900;
