///////////////////////////////////////////////////////////
// Typography                               (Base block) //
///////////////////////////////////////////////////////////

// Font system ////////////////////////////////////////////

%text_uppercase {
  font-family: $sans;
  text-transform: uppercase;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: $serif;
  font-weight: $normal;
  font-size: $size-base;
  color: $text-base;
}

// Title
h1, h2 {
  font-size: $size-huge;
  line-height: 4rem;
}
h3 { font-size: $size-bigger; }
h4 {}
h5 {}

// Paragraph
p {
  font-size: $size-regular;
  line-height: 1.4rem;
}
em {}
label {}
strong { font-weight: $super; }
blockquote {}
::selection {}

// Link
a {
  font-size: $size-medium;
  text-decoration: underline;
  color: $text-base;
  &.-small { font-size: $size-small; }
  &:visited {}
  &:focus {}
  &:hover {}
}

// Small texts
small {
  @extend %text_uppercase;
  font-size: $size-small;
  letter-spacing: .12rem;
}
legend {}
figcaption {}

// Table
th {
  @extend %text_uppercase;
  font-size: $size-small;
  text-align: left;
  letter-spacing: .1rem;
}
td {
  font-size: $size-small;
  line-height: 1rem;
  margin: 0;
  text-align: left;
}

// Logo
.type_logo {
  font-size: $size-regular;
  span:nth-child(1) { color: $blue-dark; }
  span:nth-child(2) { color: $red-dark; }
  span:nth-child(3) { color: $yellow-dark; }
  span:nth-child(4) { color: $green-dark; }
}
