///////////////////////////////////////////////////////////
// Typography                               (Base block) //
///////////////////////////////////////////////////////////

// Font system ////////////////////////////////////////////

%text_uppercase {
  font-family: $sans;
  text-transform: uppercase;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: $serif;
  font-weight: $normal;
  color: $text-base;
}

// Title
h1 { font-size: $size-huge; }
h2 { font-size: $size-big; }
h3 {}
h4 {}
h5 {}

// Paragraph
p {
  font-size: $size-medium;
  line-height: 1.4rem;
}
em {}
label {}
strong {}
blockquote {}
::selection {}

// Link
a {
  font-size: $size-medium;
  text-decoration: underline;
  color: $text-base;
  &:visited {}
  &:focus {}
  &:hover {}
}

// Small texts
small {
  @extend %text_uppercase;
  font-size: $size-regular;
  letter-spacing: .12rem;
}
legend {}
figcaption {}

// List
ul {}
ol {}
li {}
dl {}
dl {}
