<header class="content / section section_hero">
  <article class="">
    <small class="type_logo">
      <span>Pernambuco</span>
      <span>contra</span>
      <span>o</span>
      <span>vírus</span>
    </small>
    <h1>Vamo se ajudar?</h1>
    <p>O Governo de Pernambuco se uniu a organizações sem fins lucrativos nesta luta global e criou o programa “Pernambuco Solidário contra o Coronavírus”, que vai reforçar as ações de amparo a pessoas em situação de vulnerabilidade social e abastecer a rede pública de saúde com EPIs, equipamentos hospitalares e outros materiais necessários ao combate da Covid-19.</p>
  </article>

  <%= image_tag('illustration_gift', srcset: { 'illustration_gift@2x': '2x' }, class: '', alt: '') %>
</header>

<main>
  <header class="header / content -larger">
    <small class="type_logo">
      <span>Pernambuco</span>
      <span>contra</span>
      <span>o</span>
      <span>vírus</span>
    </small>
    <nav>
      <ul>
        <li><a href="">Iniciativas</a></li>
        <li><a href="">Sobre o projeto</a></li>
        <li><a href="">Submeter sua iniciativa</a></li>
      </ul>
    </nav>
  </header>

  <article class="section section_list-text / content">
    <h2>Iniciativas em Pernambuco</h2>
    <p>Há várias maneiras de ajudar pessoas mais vulneráveis e em situações de risco. Aqui dividimos em categorias e listamos algumas dela pra te ajudar a escolher a melhor forma pra você.</p>
  </article>

  <section class="section section_list / content -larger">
    <h3>Doação financeira</h3>
    <table class="table -blue">
      <thead>
        <tr>
          <th>Instituição</th>
          <th>Descrição da iniciativa</th>
          <th>Site/Instagram</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="Instituição"><strong>Armazém do Campo Recife</strong></td>
          <td data-th="Descrição da iniciativa">O Movimento dos Trabalhadores Rurais Sem Terra (MST) abriu um espaço com mais de 120 produtos à venda, oriundos de assentamentos e de parcerias com agricultores familiares. Agora estão fazendo entregas dos produtos semanalmente.</td>
          <td data-th="Site/Instagram"><a class="-small" href="">https://www.instagram.com/armazemdocamporecife/</a></td>
        </tr>
        <tr>
          <td data-th="Instituição"><strong>Stella Artois em parceria com o ChefsClub</strong></td>
          <td data-th="Descrição da iniciativa">Ajude seu restaurante preferido comprando um voucher que vale R$100 com 50% de desconto, valor final R$50,00 e use quando ele reabrir.</td>
          <td data-th="Site/Instagram"><a class="-small" href="">https://www.apoieumrestaurante.com.br/</a></td>
      </tbody>
    </table>
  </section>
</main>

<footer>
  <div class="content">
    <%= image_tag('illustration_team', srcset: { 'illustration_team@2x': '2x' }, class: '', alt: '') %>
    <article>
      <h3>Sobre o projeto</h3>
      <p>Há várias maneiras de ajudar pessoas mais vulneráveis e em situações de risco. Aqui dividimos em categorias e listamos algumas dela pra te ajudar a escolher a melhor forma pra você.</p>
      <small>
        em parceria com a
        <a href="https://guava.software/" target="_blank"><%= image_tag('guava_logo', srcset: { 'guava_logo@2x': '2x' }, class: '', alt: 'Guava Software') %></a>
      </small>
    </article>
  </div>
</footer>
