<section class="content / section section_hero">
  <article class="">
    <small>Pernambuco contra o vírus</small>
    <h1>Vamo se ajudar?</h1>
    <p>O Governo de Pernambuco se uniu a organizações sem fins lucrativos nesta luta global e criou o programa “Pernambuco Solidário contra o Coronavírus”, que vai reforçar as ações de amparo a pessoas em situação de vulnerabilidade social e abastecer a rede pública de saúde com EPIs, equipamentos hospitalares e outros materiais necessários ao combate da Covid-19.</p>
  </article>

  <%= image_tag('illustration_gift', srcset: { 'illustration_gift@2x': '2x' }, class: '', alt: '') %>
</section>

<header class="header">
  <small>Pernambuco contra o vírus</small>
  <nav>
    <ul>
      <li><a href="">Iniciativas</a></li>
      <li><a href="">Sobre o projeto</a></li>
      <li><a href="">Submeter sua iniciativa</a></li>
    </ul>
  </nav>
</header>

