///////////////////////////////////////////////////////////
// Button                                        (Block) //
///////////////////////////////////////////////////////////.

.button {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.button_menu {
  width: 2.5rem;
  padding: .5rem;
}
