///////////////////////////////////////////////////////////
// Button                                        (Block) //
///////////////////////////////////////////////////////////.

.button {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.button_menu {
  width: 2.5rem;
  padding: .5rem;
}

.button_link {
  @extend small;
  border: 2px solid $border-dark;
  padding: .4rem .7rem;
  border-radius: 7px;
  text-decoration: none;
  &:hover { border-bottom-width: 4px; }
}
