///////////////////////////////////////////////////////////
// Button                                        (Block) //
///////////////////////////////////////////////////////////.

.button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.button_menu {
  width: 2.5rem;
  padding: .5rem;
}

.button_link {
  @extend small;
  position: relative;
  padding: .4rem .7rem;
  text-decoration: none;
  border: 2px solid $border-dark;
  border-radius: 7px;
  &:hover {
    top: -1px;
    border-bottom-width: 4px;
  }
}
