///////////////////////////////////////////////////////////
// Footers                                       (Block) //
///////////////////////////////////////////////////////////

footer {
  margin-top: -1rem;
  text-align: center;
  background-color: $background-dark;
  h3 { margin-bottom: 1rem; }
  p { margin-bottom: .5rem; }
  small {
    display: flex;
    justify-content: center;
    margin-bottom: .2rem;
    a { margin-left: .4rem; }
  }
  .illustration_footer { flex-shrink: 0; }
  .content {
    display: flex;
    align-items: center;
    @include media("<=tablet") { flex-wrap: wrap; }
  }
  @include media(">tablet") {
    margin-top: -3rem;
    article { padding-left: 3rem; }
  }
}

.footer_disclaimer {
  box-sizing: border-box;
  padding: $spacing-big .5rem $spacing-regular;
  text-align: center;
  background-color: transparentize($border-dark, .98);
  p {
    margin-bottom: 0;
    font-size: $size-small;
    line-height: 1rem;
  }
  @include media(">=tablet") { padding: 4rem $spacing-bigger $spacing-big; }
}
