///////////////////////////////////////////////////////////
// Headers                                       (Block) //
///////////////////////////////////////////////////////////

.header {
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: $background-light;
  padding: .5rem 0;
  small { width: 8.6rem; }
  ul { display: flex; }
  li:not(:last-child) { margin-right: $spacing-big; }
  nav { display: none; }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_icon path {
    @include transition;
    &:nth-child(2) { opacity: 1; }
  }
  @include media(">tablet") {
    padding: 1rem 0;
    width: calc(100% - 1rem);
    margin: 0 auto;
    nav { display: block; }
    .button_menu { display: none; }
  }
}

body.-open-menu {
  .header { height: 100vh; }
  .content {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  nav {
    width: 100%;
    display: block;
    margin-top: 2rem;
    ul { display: block; }
    li { margin-bottom: 1rem; }
  }
  .menu_icon path {
    &:first-child {
      transform: rotate(45deg);
      transform-origin: 2px 7px;
    }
    &:nth-child(2) { opacity: 0; }
    &:last-child {
      transform: rotate(-45deg);
      transform-origin: 29px 8px;
    }
  }
}
