///////////////////////////////////////////////////////////
// Headers                                       (Block) //
///////////////////////////////////////////////////////////

.header {
  position: sticky;
  top: 0;
  z-index: 99999;
  padding: .5rem 0;
  background-color: $background-light;
  nav { display: none; }
  ul { display: flex; }
  li {
    &:not(:last-child) { margin-right: $spacing-big; }
    .active { font-weight: $super; }
    &:hover a:not(.active):not(.button_link),
    &:focus a:not(.active):not(.button_link) {
      text-shadow: 0 0 .2px $gray, 0 0 .2px $gray, 0 0 .2px $gray;
    }
  }
  .type_logo { width: 8.6rem; }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu_icon path {
    @include transition;
    &:nth-child(2) { opacity: 1; }
  }
  @include media(">tablet") {
    width: calc(100% - 1rem);
    padding: 1rem 0;
    margin: 0 auto;
    nav { display: block; }
    .button_menu { display: none; }
  }
}

body.-open-menu {
  .header { height: 100vh; }
  .content {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  nav {
    display: block;
    width: 100%;
    margin-top: 2rem;
    ul { display: block; }
    li { margin-bottom: 1rem; }
  }
  .menu_icon path {
    &:first-child {
      transform: rotate(45deg);
      transform-origin: 2px 7px;
    }
    &:nth-child(2) { opacity: 0; }
    &:last-child {
      transform: rotate(-45deg);
      transform-origin: 29px 8px;
    }
  }
}
