///////////////////////////////////////////////////////////
// Lists                                         (Block) //
///////////////////////////////////////////////////////////

.list {
  &.-blue .list_row   { background-color: $blue-light; }
  &.-red .list_row    { background-color: $red-light; }
  &.-yellow .list_row { background-color: $yellow-light; }
  &.-green .list_row  { background-color: $green-light; }
}

.list_row {
  margin-bottom: $spacing-small;
  border-radius: .5rem;
}

.list_header {
  display: none;
  .list_columns {
    padding-bottom: .5rem;
    li { @extend small; }
  }
  @include media(">notebook") { display: block; }
}

.list_columns {
  display: grid;
  align-items: center;
  padding: 1rem;
  @include media("<notebook") {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: .5rem;
  }
  @include media(">notebook") {
    grid-template-columns: 20% 37% 13% 30%;
    padding: 1rem;
  }
  li {
    margin: 0;
    font-size: $size-small;
    line-height: 1rem;
    text-align: left;
    a { word-break: break-all; }
    @include media("<notebook") {
      &:first-child { font-size: $size-medium; }
      &::before {
        display: block;
        margin-bottom: .1rem;
        font-family: $sans;
        font-size: $size-small;
        letter-spacing: .1rem;
        text-transform: uppercase;
        content: attr(data-th);
      }
    }
    @include media(">notebook") {
      padding-right: 1rem;
      &:first-child { padding-left: 1rem; }
      &:nth-child(2) { padding-right: 2rem; }
    }
  }
}

.list_ways {
  a { display: block; }
  a + a { margin-top: .5rem; }
  .list_row { background-color: var(--accent-bg-lighter); }
  .list_columns {
    @include media(">notebook") { grid-template-columns: 1fr 1.5fr 1.5fr; }
  }
}

.list_simple {
  list-style: circle;
  margin-left: 1rem;
  li {
    font-size: $size-regular;
    line-height: 1.4rem;
  }
}
