<footer id="section_about">
  <div class="footer_disclaimer">
    <%= image_tag('illustration_heart.png', srcset: { 'illustration_heart@2x.png': '2x' }, class: '', alt: 'Ilustração de várias faces diferentes representando uma equipe diversa') %>
    <small>
      em parceria com a
      <a href="https://guava.software/" target="_blank"><%= image_tag('guava_logo.png', srcset: { 'guava_logo@2x.png': '2x' }, class: '', alt: 'Guava Software') %></a>
    </small>
    <p>O projeto <strong>“Bora se Ajudar?”</strong> não tem nenhum vínculo jurídico com as iniciativas listadas e, por isso, não se responsabiliza pelas atividades por elas realizadas.</p>
    <p>Algumas das iniciativas podem ter aspecto temporal, podendo não estarem mais disponíveis. Em caso de dúvida, entre em contato utilizando os canais oferecidos por cada uma delas.</p>
  </div>
</footer>
