<header id="header" class="header">
  <div class="content -larger">
    <small class="type_logo">
      <span>Pernambuco</span>
      <span>contra</span>
      <span>o</span>
      <span>vírus</span>
    </small>
    <button id="button_menu" class="button button_menu" type="button" alt="Abrir e fechar menu">
      <%= inline_svg_tag "icon-menu.svg", class:'menu_icon' %>
    </button>
    <nav>
      <ul>
        <li><a href="/">Iniciativas</a></li>
        <li><a href="about_us/">Sobre o projeto</a></li>
        <li><a href="ways_to_help/">Outras formas de ajudar</a></li>
        <li>
          <a class="button button_link" href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a>
        </li>
      </ul>
    </nav>
  </div>
</header>